body{
    font-family: 'Poppins', sans-serif;
    margin-left: 128px;
    
}

.cover-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

.cast-list {
    list-style-type: none;
    padding: 0;
}

.cast-list li {
    margin: 5px 0;
}

.description {
    margin: 20px 0;
}