@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin-left: 128px;
    
}

.cover-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px 0;
}

.cast-list {
    list-style-type: none;
    padding: 0;
}

.cast-list li {
    margin: 5px 0;
}

.description {
    margin: 20px 0;
}